/acinclude.m4
/aclocal.m4
/config.guess
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure.in
/http11_parser.lo
/httpparser.la
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/missing
/mkinstalldirs
/run-tests.php
/autom4te.cache
/build
/modules
/.deps
/.libs
/config.h
*.la
*.lo
